* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: var(--font-family-main);
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}
