.button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 55px;
  padding: 18px;
  color: var(--color-white-primary);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
}

.icon {
  flex-direction: row;
}

.filled {
  background-color: var(--color-accent);
}

.outlined {
  background-color: transparent;
  border-color: var(--color-white-primary);
}

.only-icon {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}
