.navigation {
  columns: 4;
  column-gap: 150px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 35px;
  break-inside: avoid;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
