.viewport {
  position: relative;
  width: 100%;
  max-width: 910px;
  padding: 0 60px;
  margin: 0 -60px;
  perspective: 1200px;
}

.slide {
  width: 380px;
  min-height: 546px;
  overflow: hidden;
  border-radius: 12px;
  opacity: 0 !important;
  filter: blur(3.6px);
  transform-style: preserve-3d;
  transition-property: transform, opacity;
}

.slide:global(.swiper-slide-active){
  filter: blur(0);
}

.slide:global(.swiper-slide-visible){
  opacity: 1 !important;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
