.logo {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-main);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-extrabold);
  text-decoration: none;
}

.primary {
  color: var(--color-white-primary);
}

.accent {
  color: var(--color-accent);
}
